<% provide(:title, "About")%>

<div class="about-section">
  <h3>About Our App</h3>
  <p>The EdTok aims to spread more knowledge in the form of short videos, helping users to utilize their leisure time to gain some interesting things through enjoyable ways.</p>
  <p>Users can follow any other users on the platform, find who has followed them and who they are following.</p>
  <p>Users share their work or expertise by uploading videos to the app and others can find it, respond (similar to a like button) to it if they like it, or make a comment on it.</p>
</div>

<h1 style="text-align:center">Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <%= image_tag "/EdTok/app/assets/images/about_us/Jane.jpeg" %>
      <div class="container">
        <h2>Jingnu An</h2>
        <p class="title">UI designer && API searcher</p>
        <p>Jingnu An has been an avid programmer since the senior year of her undergraduate study. She first started by programming in R that would allow her to do statistical analysis in educational research, and her love of the potential applications of programming has been growing ever since.</p>
        <p>Jingnu got her first Software Engineering Internship at elphi Inc. where she worked on elphi’s Loan Origination System (LOS) dashboard webpage using React and JavaScript. She also initiated and managed elphi's intern collaboration meetings to enhance working efficiency and professional communication among the team.</p>
        <p>She is passionate about empowering girls to join in the science and technology field and is looking forward to using her programming skills to help forward and advocate for the responsible use and development of technology.</p>
        <p><button class="button">Contact Jingnu</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../public/assets/about_us/Jenna.JPG" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Jenna Blank</h2>
        <p class="title">Data Manager</p>
        <p>Jenna recently earned her BS in Mathematics with a minor in Computer Science from the University of Vermont in May 2020. She’s currently working towards her MS in Computer Science at Brandeis University. Moving forward, she hopes to learn more about Software Engineering with a special interest in its humanitarian aspects and computing for social good.</p>
        <p><button class="button">Contact Jenna</button></p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../public/assets/about_us/Wei.jpeg" alt="John" style="width:100%">
        <div class="container">
        <h2>Wei Liu</h2>
        <p class="title">Collaborator</p>
        <p>After finishing my undergrad in Biotechnology, I started my road to Computer Science as a master student one year ago. Now I’m working on a research project aiming to predict the mutation tend of SARS-CoV-2. Beside I also interest in software engineering and am seeking an internship in summer to see how to make a real product in industry.</p>
        <p><button class="button">Contact Wei</button></p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../public/assets/about_us/Robin.JPG" alt="John" style="width:100%">
        <div class="container">
        <h2>Guobin Chen</h2>
        <p class="title">Collaborator</p>
        <p>Guobin was majored in Biochemistry during his undergraduate period, and at time his research topic was synthesis of nanoparticles for drug delivery especially for chemotherapy drugs.</p>
        <p>Right now, Guobin is a master student in the Computer Science department at Brandeis. He is interested in applying computer vision tech into medical image processing</p>
        <p><button class="button">Contact Guobin</button></p>
      </div>
    </div>
  </div>
</div>
