<% provide(:title, "Behind the Scene") %>
<%= stylesheet_link_tag 'behind_the_scene' %>

<body class="gradient">
    <div class='timeline-container'>
        <div class='timeline'>
            <ul>
                <li>
                    <div class='timeline-content'>
                        <h2 class='date'>Our story begins......</h2>
                        <p>We build our team named 'Wonderful-four'.</p>
                        <p>Introduce ourselves, strenghthen mutual understanding. </p>
                        <p>Brainstorm our product 'Edtok'.</p>

                    </div>
                </li>

                <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 2</h2>
                        <p>Stage1 : Kickoff!!!</p>
                        <p>Make basic decision about our project.</p>
                        <p>Schedule a fixed time meeting each week.</p>
                        <p>Set up environments!</p>
                    </div>
                </li>

                <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 3</h2>
                        <p>Get familiar with Ruby </p>
                        <p>Learn about Ruby on Rails(RoR) framwork</p>
                        <p>Come up with UI design of Edtok</p>
                        <p>Follow tutorial...</p>
                    </div>
                </li>

                <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 4</h2>
                        <p>Stage2: Hello World!!!</p>
                        <p>Make the most minimal rails app...</p>
                        <p>Learn and understand MVC principle and understand how the pieces connect together.</p>
                    </div>
                </li>

                 <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 5</h2>
                        <p>Design database model of Edtok...</p>
                        <p>Figure out association between each model.</p>
                        <p>Make sure controller work smoothly between each web page.</p>
                    </div>
                </li>

                 <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 6</h2>
                        <p>Stage3: Core</p>
                        <p>Build the heart of the prodcut...</p>
                        <p>Implement sign in/ sign up</p>
                        <p>Work on user page and session stuff...</p>
                    </div>
                </li>

                 <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 7</h2>
                        <p>Work on search bar...</p>
                        <p>Handle how to display video</p>
                        <p>Look for help about how to store video and how to deploy app in Heroku...</p>
                    </div>
                </li>

                 <li>
                    <div class='timeline-content'>
                        <h2 class='date'>All Set!!!</h2>
                        <p>Stage4: Launch !!!</p>
                        <p>Make decoration with UI...</p>
                        <p>Meet with Teaching Assistant</p>
                        <p>Prepare for final presentation...</p>
                    </div>
                </li>

            </ul>

        </div>

    </div>

    <br>
    <br>

</body>
