<% provide(:title, "Behind the Scene") %>
<%= stylesheet_link_tag 'behind_the_scene' %>

<body>
    <div class='timeline-container'>
        <div class='timeline'>
            <ul>
                <li>
                    <div class='timeline-content'>
                        <h2 class='date'>Our story begins......</h2>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                    </div>
                </li>

                <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 2</h2>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                    </div>
                </li>

                <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 3</h2>
                       <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                    </div>
                </li>

                <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 4</h2>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                    </div>
                </li>

                 <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 5</h2>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                    </div>
                </li>

                 <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 6</h2>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                    </div>
                </li>

                 <li>
                    <div class='timeline-content'>
                        <h2 class='date'>week 7</h2>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                    </div>
                </li>

                 <li>
                    <div class='timeline-content'>
                        <h2 class='date'>All Set!!!</h2>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                        <p>this is the content of each week</p>
                    </div>
                </li>

            </ul>

        </div>

    </div>

    <br>
    <br>

</body>
