<% provide(:title, "Explore") %>

<h1> Explore Videos </h1>

<!-- HTML -->

<body>

<div class="sidebar">
<div>Subject 1</div>
<div>Subject 2</div>
<div>Subject 3</div>
</div>

<div class="body-text">
<!-- body content -->
<%= button_to "show videos", videos_path, :method => "get" %>

</div>

</body>