<% provide(:title, "Hello") %>
<h1>Hello, Welcome to Edtok!</h1>
<p>
  <div>
  <%= link_to image_tag("hellopage_img.jpg", alt: "hellopage_image", width: "920", height: "584"), "https://dry-ocean-78358.herokuapp.com/home" %>
  </div>
</p>