<% provide(:title, "Hello") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Hello</h1>
    <p>
      This is the home page for the
      <%= link_to "EdTok", home_path %>
      .
    </p>
  </body>
</html>