<% provide(:title, "Hello") %>
<h1>Hello, Welcome to Edtok!</h1>
<p>
  <div>
  <%= link_to image_tag("hellopage_image.jpg", alt: "hellopage_image", width: "920", height: "584"), "app/assets/images" %>
  </div>
</p>