@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 60px;
}
  
section {
  overflow: auto;
}
  
textarea {
  resize: vertical;
}
  
.center {
  display:block;
  width: 920px;
  margin: 0 auto;
  text-align: center;
}
  
.center h1 {
  margin-bottom: 10px;
}

.leftside {
  text-align: left;
}

.rightside {
  text-align: right;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
   
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
  /* change nav bar background color */
  .navbar-inverses {
    background-color: #8ac4d0;
    border-color: #8ac4d0;
  }
  


/* footer */

footer { 
  background-color: #8ac4d0;
  /* height: 50px; */
  width: 100%;
  position:fixed;
  left:0;
  right:0;
  bottom:0%; 
}

.footer_container {
  margin:15px;
  text-align: center; 
  font-size:20px;
}

/* home_page_intro */

h1.intro_title {
  display: inline;
}

.left {
  text-align: left;
  margin-top: 50px;
}

.right {
  text-align: right;
  margin-top: 50px;
}

/* button style */

.styled {
  margin-top: 50px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(0, 158, 220);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: rgb(4, 0, 255);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* sidebar */

.sidebar {
  margin-top: 20px;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  background-color: lightblue;
}
  
.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}
  
.body-text {
  margin-left: 150px;
  font-size: 18px;
}

/*video displaying page*/


/* forms */ 

form {

  label {
    padding-top: 15px;
  }

  .btn {
    margin-top: 15px;
  }
}

.gravatar_edit {
  padding-top: 20px;

  a {
    display: block;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 13px;
  }

  a:hover {
    background-color: transparent;
    color: black;
  }

  img {
    border-radius: 50px;
  }
}

.form-footer {
  padding-top: 10px;
}

