// Place all the styles related to the Users controller here.

$theme-pink: rgb(230, 130, 163);

.profile-head {
    text-align: center;
    padding-bottom: 20px;

    .profile-img {
        padding-top: 20px;
    }

    #username {
        font-weight: bold;
    }

    #stats {
        display: inline-flex;
         
        p {
            padding: 20px;
        }
    }

    .follow {
        padding-bottom: 25px;

        .follow-button {
            // Button box
            height: 40px;
            width: 120px;
            background-color: $theme-pink;
            border: none;
    
            // Button text
            color: black;
            font-size: medium;
        }

        .following-button {
            // Button box
            height: 40px;
            width: 120px;
            background-color: lightpink;
            border: none;
    
            // Button text
            color: rgb(54, 54, 54);
            font-size: medium;
        }
    }
    
}

#profile-body {
    
    #videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a:hover {
            background-color: transparent;
        }
        
        .profile-thumbnail {
            margin: 30px;
            height: 130px;
            width: 250px;
            background-color: $theme-pink;
            border-radius: 20px;
        
            p {
                text-align: center;
                vertical-align: middle;
                line-height: 130px;
            }
            
        }

    }
}




