<footer class="footer">
  <small>
    <li>The<%= link_to " EdTok ",   home_path %> by <%= link_to " Wonderful-four",   "#" %></li>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>