<footer class="footer">
  <div>

  </div>

  <div class="footer_container">
    <%= link_to "About", '#' %>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <%= link_to "Behind the Scene", '#' %>
  </div>
</footer>