<footer class="footer">


  <div class="footer_container">
    <%= link_to "About", about_path %>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <%= link_to "Behind the Scene", behind_the_scene_path %>
  </div>
</footer>