<footer class="footer">
<nav>
    <li> The EdTok by <%= link_to " Wonderful-four",   "#" %></li>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact Us", '#' %></li> 
    </ul>
    
  </nav>
</footer>