<footer class="footer">
  <div>

  </div>

  <div class="footer_container">
    <%= link_to "About Us", '#' %>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <%= link_to "Contact Us", '#' %>
  </div>
</footer>